---
import BaseInfo from './BaseInfo.astro';
import Contact  from './Contact.astro';
---
<div class="sm:w-1/4 bg-white py-8 px-6">
<div class="flex flex-col items-center">        
  <BaseInfo 
    name="Ching-Huan Li" 
    position="Senior Software Engineer" 
    avatarUrl="/avatar.jpg"
  />

  <Contact 
    email="septemhill@gmail.com"
    github="septemhill"
    linkedin="https://www.linkedin.com/in/septem-li-7bb9a128"
  />
</div>
</div>