---
const { skill, percent } = Astro.props
---
<div class="mb-4">
  <h3 class="font-medium mb-2">{skill}</h3>
  <div class="bg-gray-200 rounded h-4.5">
    <div class="bg-blue-600 rounded text-xs text-white text-center p-0.5" style={`width:${percent}%`}>
      {percent}
    </div>
  </div>
</div>
